<img
  src="https://media.istockphoto.com/id/1160446488/photo/tbilisi-downtown-georgia-taken-in-april-2019.jpg?s=612x612&w=0&k=20&c=yybfqVCUZsy8qNWMnpmX1AjAmbuXtj5Kg5aekaeHj7M="
  alt=""
/>
<div class="info_wrapper">
  <div class="blog_info">
    <h4>ნია გოგსაძე</h4>
    <time>02.11.2023</time>
  </div>
  <h3>
    {{
      "EOMM-ის მრჩეველთა საბჭოს ნინო ეგაძე შეუერთდა fdsafds afdsa afdsaffdsafdsafdsafafdsaf  dsfa fsa fdsa afds "
        | punctuation : 100
    }}
  </h3>
  <rb-filters [categories]="categories" isSelectable="false"></rb-filters>
  <p>
    {{ description | punctuation : 107 }}
  </p>
  <a>სრულად ნახვა <fa-icon [icon]="faExternalLink"></fa-icon></a>
</div>
