@use "../../../../globals.scss" as globals;

section.center.blogs_section {
  ul.blogs {
    display: flex;
    justify-content: flex-start;
    row-gap: globals.pxToRem(56);
    column-gap: globals.pxToRem(32);
    flex-wrap: wrap;
    width: 100%;

    li {
      min-width: 32%;
      max-width: 32%;
      flex-grow: 4;
    }

    & > h3 {
      margin: auto;

      a {
        color: globals.$LINK_PRIMARY_COLOR;
      }
    }
  }
}
