@use "../../../../../globals.scss" as globals;

button {
  padding: globals.pxToRem(8) globals.pxToRem(16);
  border-radius: globals.pxToRem(30);
  @include globals.font(12, 16, 500);
  transition: all 0.3s ease-out;
  border: globals.pxToRem(2) solid rgba(0, 0, 0, 0);

  display: flex;
  align-items: center;

  fa-icon {
    margin-left: globals.pxToRem(8);
  }
}
